# Server
PORT=5000
NODE_ENV=development

# Database
MONGO_URI=mongodb://127.0.0.1:27017/serenity_spa
# For Atlas: mongodb+srv://<user>:<pass>@cluster.mongodb.net/serenity_spa

# Auth
JWT_SECRET=replace_with_a_long_random_string
JWT_EXPIRES_IN=7d

# CORS
CLIENT_URL=http://localhost:5173
